@import url('https://fonts.googleapis.com/css?family=Muli|Quicksand:400,500');

body {
  font-family: Quicksand;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
}

#nav {
  background-color: rgb(255, 105, 95);
  display: flex;
  flex-direction: row-reverse;
  max-height: 51px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

#nav__menu-icon {
  margin: 1rem 0.5rem 1rem 0;
}

#hero {
  padding-top: 51px;
  height: calc(100vh - 51px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(255, 105, 95);
}

#hero__logo,
#hero__arrow {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo__img,
#logo__title {
  margin: 0 2rem;
}

#logo__arrow {
  width: 3rem;
}

#summary {
  background-color: rgb(244, 242, 242);
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#summary__content,
#features__content,
#get-involved__content,
#contact__content,
#supported-by__content {
  text-align: center;
  padding: 2rem 2rem 4rem 2rem;
}

#summary__content,
#get-involved__content {
  color: rgb(45, 45, 45);
}

#features__content,
#contact__content,
#supported-by__content {
  color: rgb(244, 242, 242);
}

#contact__cta {
  padding: 2rem 0 0 0;
  margin-bottom: 0.75rem;
}

#contact__cta a {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgb(244, 242, 242);
}

#features {
  background-color: rgb(80, 188, 189);
}

#get-involved {
  background-color: rgb(244, 242, 242);
}

#get-involved__button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  color: rgb(244, 242, 242);
  font-weight: 500;
  background-color: rgb(80, 188, 189);
}

#contact {
  background-color: rgb(79, 86, 157);
}

#supported-by {
  color: rgb(244, 242, 242);
  background-color: rgb(255, 105, 95);
}

#supported-by__logo img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

/*
*   CAROUSEL STYLING
*   class names mostly flickity default: https://flickity.metafizzy.co/options.html
*/

/* main carousel styling */
.carousel {
  height: 425px;
}

.carousel-cell {
  width: 90%;
  height: 100%;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* carousel element styling */
.carousel-cell .carousel__feature-title,
.carousel-cell .carousel__feature-title--desktop {
  font-weight: 700;
  margin: 0.25rem 0 1rem 0;
  align-self: flex-start;
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 1.3rem;
}

.carousel-cell .carousel__feature-title--desktop {
  text-align: left;
}

.carousel__feature-title {
  display: flex;
  text-align: center;
  font-weight: 700;
}

.carousel-cell .carousel__feature-desc {
  text-align: left;
}

.carousel-cell hr {
  width: 100%;
  height: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-top: 2px solid rgb(244, 242, 242);
}

.carousel-cell .carousel__icons {
  display: block;
  filter: invert(1);
  width: 6rem;
}

.carousel__screenshot {
  display: block;
  height: 325px;
  margin-bottom: 1rem;
}

.carousel__features {
  display: none;
}

/* prev/next button styling */

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(255, 105, 95);
}

.flickity-button {
  display: none;
  background: rgb(244, 242, 242);
}

.flickity-button:hover {
  background: rgb(255, 105, 95);
}

.flickity-prev-next-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
}

.flickity-prev-next-button.previous {
  left: 7rem;
}
.flickity-prev-next-button.next {
  right: 7rem;
}

.flickity-button-icon {
  fill: rgb(80, 188, 189);
}

/* carousel dots styling */

.flickity-page-dots {
  bottom: -2rem;
}

.flickity-page-dots .dot {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: rgb(244, 242, 242);
  margin: 0 0.5rem;
}

.flickity-page-dots .dot.is-selected {
  background: rgb(255, 105, 95);
}

/* Media queries */

@media screen and (min-width: 450px) {
  .carousel {
    height: 450px;
  }

  .carousel__feature-title {
    display: none;
  }
  .carousel__feature-title--desktop {
    text-align: center;
  }
  .carousel-cell {
    display: flex;
    flex-direction: row;
  }
  .carousel__features {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    margin: 2rem 5rem;
    margin-left: 0;
  }
  .flickity-button {
    display: block;
  }
  .carousel__screenshot {
    height: 400px;
  }
}
