@import url("https://fonts.googleapis.com/css?family=Muli|Quicksand");

body {
    box-sizing: border-box;
}

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 105, 95);
}

#hero__logo,
#hero__arrow {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#summary {
    background-color: rgb(244, 242, 242);
    height: 200px;
}

#features {
    background-color: rgb(80, 188, 189);
    height: 200px;
}

#get-involved {
    background-color: rgb(244, 242, 242);
    height: 200px;
}

#contact {
    background-color: rgb(79, 86, 157);
    height: 200px;
}
