@import url('https://fonts.googleapis.com/css?family=Muli|Quicksand:400,500');

html {
  scroll-behavior: smooth;
}

body {
  font-family: Quicksand;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
}

#nav {
  height: 51px;
  background-color: rgb(255, 105, 95);
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
}

#nav__menu-icon {
  margin: 1rem 0.5rem 1rem 0;
}

#hero {
  padding-top: 51px;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(255, 105, 95);
}

#hero__logo,
#hero__arrow {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 250px;
}

#logo__img,
#logo__title {
  margin: 0 2rem;
  max-width: 250px;
}

#logo__arrow {
  width: 3rem;
}

#summary {
  background-color: rgb(244, 242, 242);
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2rem 0;
}

h3 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1.5rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a:focus {
  text-decoration: underline;
}

#summary__content,
#features__content,
#get-involved__content,
#contact__content,
#supported-by__content {
  text-align: center;
  padding: 2rem 2rem 4rem 2rem;
}

#summary__content,
#get-involved__content {
  color: rgb(45, 45, 45);
}

#features__content,
#contact__content,
#supported-by__content {
  color: rgb(244, 242, 242);
}

#contact__cta {
  padding: 2rem 0 0 0;
  margin-bottom: 0.75rem;
}

#contact__cta a {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgb(244, 242, 242);
}

#features {
  background-color: rgb(80, 188, 189);
}

#get-involved {
  background-color: rgb(244, 242, 242);
}

#get-involved__button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  color: rgb(244, 242, 242);
  font-weight: 500;
  background-color: rgb(80, 188, 189);
}

#contact {
  background-color: rgb(79, 86, 157);
}

#supported-by {
  background-color: rgb(244, 242, 242);
}

#supported-by h2 {
  color: rgb(45, 45, 45);
}

.supported-by__logo img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.bgv__logo {
  filter: invert(1);
}

#supported-by__logos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

footer {
    height: 51px;
    background-color: rgb(255, 105, 95);
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
}

#terms,
#terms-back,
#privacy,
#privacy-back,
#support-body,
#support-back {
    background-color: rgb(244, 242, 242)
}

#terms,
#privacy,
#support {
  text-align: center;
  padding: 0rem 2rem 4rem 2rem;
}

#terms-title,
#privacy-title {
  padding: 0;
  font-size: 1.5rem;
}

#support-title {
  padding: 1rem;
}

#terms p,
#privacy p,
#support p {
  padding: 1rem;
}

#policy-link:hover,
#terms-contact:hover,
#support-email:hover,
#delete:hover,
#questions:hover {
  text-decoration: underline
}

#arrow,
#privacy-arrow,
#support-arrow {
  display: inline-block;
  padding: 1%;
  color: black;
  font-size: 3rem;
}

#arrow:hover,
#privacy-arrow:hover,
#support-arrow:hover {
  background-color:rgb(255, 105, 95);
  color: #ffff
}

@media screen and (min-width: 450px) {
  #supported-by__logos {
    flex-direction: row;
  }
}

@media screen and (max-width: 450px) {
  #menu--toggle {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menu--toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -10px;
    left: -10px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 20; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  #menu--toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: rgb(244, 242, 242);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menu--toggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menu--toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menu--toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: rgb(244, 242, 242);
  }

  #menu--toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menu--toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 101vw;
    height: 1000vh;
    margin: -100px 50px 0 50px;
    padding-top: 125px;
    color: rgb(244, 242, 242);
    background-color: rgb(255, 105, 95);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: none;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 1.5rem;
    font-size: 22px;
    text-align: center;
  }

  #menu li:hover {
    color: rgb(255, 105, 95);
    background: rgb(244, 242, 242);
  }

  footer {
    height: 2%;
  }

  #footer-menu {
    color: rgb(244, 242, 242);
  }

  #footer-menu li {
    padding: 0.5rem;
    font-size: 22px;
    text-align: center;
  }

  #footer-menu li:hover {
    text-decoration: underline;
  }

  #menu--toggle input:checked ~ ul {
    transform: translate(-100%, 0);
  }

  #arrow,
  #privacy-arrow {
    display: inline-block;
    padding: 5%;
    color: black;
    font-size: 3rem;
  }
}

@media screen and (min-width: 450px) {
  #menu__checkbox,
  #menu--toggle span {
    display: none;
  }
  #nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu,
  #footer-menu {
    color: rgb(244, 242, 242);
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 0;
    padding: 0;
    transform: none;
    width: 100%;
    height: 100%;
  }

  #menu li,
  #footer-menu li {
    padding: 0.5rem 1rem;
    font-weight: 500;
  }

  #menu li:hover,
  #footer-menu li:hover {
    text-decoration: underline;
  }
}



/*
*   CAROUSEL STYLING
*   class names mostly flickity default: https://flickity.metafizzy.co/options.html
*/

/* main carousel styling */
.carousel {
  height: 425px;
}

.carousel-cell {
  width: 90%;
  height: 100%;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* carousel element styling */
.carousel-cell .carousel__feature-title,
.carousel-cell .carousel__feature-title--desktop {
  font-weight: 700;
  margin: 0.25rem 0 1rem 0;
  align-self: flex-start;
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 1.3rem;
}

.carousel-cell .carousel__feature-title--desktop {
  text-align: left;
}

.carousel__feature-title {
  display: flex;
  text-align: center;
  font-weight: 700;
}

.carousel-cell .carousel__feature-desc {
  text-align: left;
}

.carousel-cell hr {
  width: 100%;
  height: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-top: 2px solid rgb(244, 242, 242);
}

.carousel-cell .carousel__icons {
  display: block;
  filter: invert(1);
  width: 6rem;
}

.carousel__screenshot {
  display: block;
  height: 325px;
  margin-bottom: 1rem;
}

.carousel__features {
  display: none;
}

/* prev/next button styling */

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(255, 105, 95);
}

.flickity-button {
  display: none;
  background: rgb(244, 242, 242);
}

.flickity-button:hover {
  background: rgb(255, 105, 95);
}

.flickity-prev-next-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
}

.flickity-button-icon {
  fill: rgb(80, 188, 189);
}

/* carousel dots styling */

.flickity-page-dots {
  bottom: -2rem;
}

.flickity-page-dots .dot {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: rgb(244, 242, 242);
  margin: 0 0.5rem;
}

.flickity-page-dots .dot.is-selected {
  background: rgb(255, 105, 95);
}

/* Media queries */

@media screen and (min-width: 450px) {
  #summary__content p,
  #get-involved__content p,
  #contact__content p,
  #supported-by__content p {
    max-width: 450px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  h2 {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 0;
  }

  .carousel {
    height: 450px;
  }

  .carousel__feature-title {
    display: none;
  }
  .carousel__feature-title--desktop {
    text-align: center;
  }
  .carousel-cell {
    display: flex;
    flex-direction: row;
  }
  .carousel__features {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    margin: 2rem 5rem;
    margin-left: 0;
  }

  .carousel__screenshot {
    height: 400px;
  }
}

@media screen and (min-width: 700px) {
  .flickity-prev-next-button.previous {
    left: -1rem;
    display: block;
  }
  .flickity-prev-next-button.next {
    right: -1rem;
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .flickity-prev-next-button.previous {
    left: 7rem;
  }
  .flickity-prev-next-button.next {
    right: 7rem;
  }
}

.workerbird__black {
  height: 100px;
  filter: invert(1);
  padding: 0 1rem 2rem 1rem;
}

.workerbird__white {
  width: 100px;
  padding: 0 1rem 2rem 1rem;
}
