@import url("https://fonts.googleapis.com/css?family=Muli|Quicksand:400,500");

body {
    font-family: Quicksand;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}

#nav {
    background-color: rgb(255, 105, 95);
    display: flex;
    flex-direction: row-reverse;
    max-height: 51px;
    width: 100%;
    position: fixed;
}

#nav__menu-icon {
    margin: 1rem 0.5rem 1rem 0;
}

#hero {
    padding-top: 51px;
    height: calc(100vh - 51px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 105, 95);
}

#hero__logo,
#hero__arrow {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo__img,
#logo__title {
    margin: 0 2rem;
}

#logo__arrow {
    width: 3rem;
}

#summary {
    background-color: rgb(244, 242, 242);
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#summary__text,
#get-involved__text,
#contact__text {
    text-align: center;
    padding: 2rem 2rem;
}

#summary__text,
#get-involved__text {
    color: rgb(45, 45, 45);
}

#features__text,
#contact__text {
    color: rgb(244, 242, 242);
}

#summary__cta,
#get-involved__cta,
#contact__cta {
    border-bottom: 2px solid rgb(80, 188, 189);
    padding: 2rem 0 0 0;
    margin-bottom: 2rem;
}

#features {
    background-color: rgb(80, 188, 189);
    height: 200px;
}

#get-involved {
    background-color: rgb(244, 242, 242);
}

#contact {
    background-color: rgb(79, 86, 157);
}
